body{
    text-align: center; 
}
#clike{
text-align: center;
  width: 3%;
}
#dlike{
text-align: center;
  width: 3%;
}
#like{
  text-align: center;
  width: 3%;
}
#l{
  text-align: center;
  width: 3%;
}